{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-blog">

    <!-- HEADER !-->
    {% include '/includes/header.twig' %}

    <!-- SUB NAV BAR !-->
    <section class="partners-subnav">
        <div class="wrapper">
            <div class="res-col columns span-30-70">
                <div class="column span-30">
                   {{widget('content', 'subnavheader', {"content":'<h2 class="hwhite">Basekit Blog</h2>'})|raw}}
                </div>
                <div class="column span-70">
                    {{widget('blogsearch', 'blogsearch', {})|raw}}
                </div>
            </div>
        </div>
    </section>

    <!--BLOG LIST !-->
    <section class="main blog">
        <div class="wrapper">
            <!-- INTRO - BREADCRUMB !-->
            <div class="intro-bread">
                <div class="res-col columns span-65-30">
                    <div class="column span-65">
                        {{widget('content', 'newsheader', {"content":'<h5>Stay up to date with the latest <span class="green underline">product</span>, <span class="purple underline">community</span> and <span class="orange underline">technical</span> news.</h5>'})|raw}}
                    </div>
                    <div class="column span-30">
                        <ul class="breadcrumb">
                            <li><a href="/bloglistposts">Basekit Blog</a></li>
                            <span class="gradient"></span>
                            <li><a href="{{ postPermalink }}" class="selected">
                                {{ plugins.blog.posts[0].title|raw }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- BLOG LIST POST !-->
            {{widget('bloglistpost', 'bloglistposts1', {})|raw}}
        </div>
    </section>
    
</div>

<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

{% endblock %}