{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-blog">

    <!-- HEADER !-->
    {% include '/includes/header.twig' %}

    <!-- SUB NAV BAR !-->
    <section class="partners-subnav">
        <div class="wrapper">
            <div class="res-col columns span-30-70">
                <div class="column span-30">
                   {{widget('content', 'subnavheader', {"content":'<h2 class="hwhite">Basekit Blog</h2>'})|raw}}
                </div>
                <div class="column span-70">
                    {{widget('blogsearch', 'blogsearch', {})|raw}}
                </div>
            </div>
        </div>
    </section>

    <!--BLOG LIST !-->
    <section class="main blog">
        <div class="wrapper">
            <!-- INTRO - BREADCRUMB !-->
            <div class="intro-bread">
                <div class="res-col columns span-65-30">
                    <div class="column span-65">
                        {{widget('content', 'newsheader', {"content":'<h5>Stay up to date with the latest <span class="green underline">product</span>, <span class="purple underline">community</span> and <span class="orange underline">technical</span> news.</h5>'})|raw}}
                    </div>
                    <div class="column span-30">
                        <ul class="breadcrumb">
                            <li><a href="/bloglistposts">Basekit Blog</a></li>
                            <span class="gradient"></span>
                            <li><a href="{{ postPermalink }}" class="selected">
                                {{ plugins.blog.posts[0].title|raw }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="res-col columns span-65-30">
                <div class="column span-65">
                    {{widget('blogpost', 'blogpost1', {})|raw}}
                </div>
                <div class="column span-30">
                    <div class="blog-post-sidenav">
                        <div class="email-signup">
                            <h3>Email Signup</h3>
                            <p>Get blog updates and resources delivered straight to your inbox.</p>
                            {{widget('signupform', 'email-signup', {'text': 'Subscribe', 'label': 'Your Email', 'formTitle': 'Signup Form', 'email': 'profile'})|raw}}
                        </div>
                        <div class="recent-posts">
                            <h3>Recent Posts</h3>
                            <p>Check out some of our recent blog posts:</p>
                            <ul>
                                <li><a href="{{plugins.blog.pathFormat}}{{plugins.blog.posts[0].slug}}">{{ plugins.blog.posts[0].title|raw }}</a></li>
                                <li><a href="{{plugins.blog.pathFormat}}{{plugins.blog.posts[0].slug}}">{{ plugins.blog.posts[1].title|raw }}</a></li>
                                <li><a href="{{plugins.blog.pathFormat}}{{plugins.blog.posts[0].slug}}">{{ plugins.blog.posts[2].title|raw }}</a></li>
                            </ul>
                        </div>
                        <div class="community-quick-links">
                            <h3>Developer Community</h3>
                            <p>Become a Basekit Developer today! Visit our useful docspage for more info:</p>
                            <ul>
                                <li><a href-"/developers">Documentation Site</a></li>
                                <li><a href-"http://knowledge.basekit.com">Questions &amp; Answers</a></li>
                                <li><a href-"#">User Workshops</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    
</div>

<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

{% endblock %}