{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-blog">

    <!-- HEADER !-->
    <header>
        <div class="wrapper clearfix">
            <div class="res-col columns span-20-80">
                <div class="column span-20">
                    <div class="logo">
                        <a href="/"><img src="{{asset('/images/logo.png')}}" class="bk-logo"></a>
                    </div>
                </div>
                <div class="column span-80">
                    <nav class="nav">
                        <a href="#" class="menu-icon"></a>
                        <ul>
                            <li><a href="/tour">Tour</a></li>
                            <li><a href="/partners">Partners</a></li>
                            <li><a href="/developers">Developers</a></li>
                            <li class="selected"><a href="/blog">Blog</a></li>
                            <li><a href="http://partners.basekit.com" class="button small-btn orange">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- SUB NAV BAR !-->
    <section class="partners-subnav">
        <div class="wrapper">
            <div class="res-col columns span-30-70">
                <div class="column span-30">
                   {{widget('content', 'subnavheader', {"content":'<h2 class="hwhite">Basekit Blog</h2>'})|raw}}
                </div>
                <div class="column span-70">
                    {{widget('blogsearch', 'blogsearch', {})|raw}}
                </div>
            </div>
        </div>
    </section>

    <!--BLOG LIST !-->
    <section class="main blog">
        <div class="wrapper">
            <!-- INTRO - BREADCRUMB !-->
            <div class="intro-bread">
                <div class="res-col columns span-65-30">
                    <div class="column span-65">
                        {{widget('content', 'newsheader', {"content":'<h5>Stay up to date with the latest <span class="green underline">product</span>, <span class="purple underline">community</span> and <span class="orange underline">technical</span> news.</h5>'})|raw}}
                    </div>
                    <div class="column span-30">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog" class="selected">BaseKit Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- BLOG LIST POST !-->
            {{widget('blogpostlist', 'blogpostlist1', {})|raw}}
        </div>
    </section>
    
</div>

<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

{% endblock %}