{% extends "layout.twig" %}

{% block content %}

<!-- HEADER !-->
<header class="dev-header">
    <div class="wrapper clearfix">
        <div class="res-col columns span-20-80">
            <div class="column span-20">
                <div class="logo">
                    <a href="/developers"><img src="{{asset('/images/logo.png')}}" class="bk-logo"></a>
                </div>
            </div>
            <div class="column span-80">
                <nav class="nav">
                    <a href="#" class="menu-icon"></a>
                    <ul>
                        <li class="selected"><a href="/">Developers</a></li>
                        <li><a href="http://developers.basekit.com">Docs</a></li>
                        <li><a href="http://knowledge.basekit.com/">Knowledge</a></li>
                        <li><a href="http://developers.basekit.com/blog">Blog</a></li>
                        <li><a class="button small-btn green switch">Free Signup</a></li>
                        <li><a href="/landing/login" class="button small-btn orange">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- DEVELOPER SIGNUP !-->
<section class="developer-signup">
    <div class="wrapper">
        <div class="dev-feat-content clearfix">
            <!-- INTRO TEXT !-->
            <div class="dev-feat-text">
                <h1>Let&#39;s build better</h1>
                <h2 class="h2sub">Put the pleasure back into creating valuable websites</h2>
                <h5>Create fully responsive templates using our Template Development Kit - use familiar technologies such as HTML, CSS, LESS, GitHub and more.</h5>   
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('.switch').click(function() {
                        $('.widget-buynow-email').focus();
                        });
                    });
                </script>
                <a class="button trans-btn trans-grey switch">Get Started</a>
            </div>
            <!-- SIGNUP FORM !-->
            <div class="signup-form">
                <h3>Developer Signup</h3>
                {{zone('main')|raw}}
                {#{{widget('buynow', 'bk-signup', {'brandRef':1,'currencyRef':1})|raw}}#}
                <p>Have an account? <a href="/landing/login" class="blue">Login</a> here.</p>
            </div>
        </div>
    </div>
</section>

<!-- BECOME A PARTNER !-->
<section class="become-partner developer LightGrey">
    <div class="wrapper">
        <hgroup>
            <h2 class="h2-36pad">Simple setup - without the setbacks</h2>
            <h5>We understand that the one thing busy devs don’t have time for, is time. That’s why our setup process is swift and straightforward.</h5>
        </hgroup>
        <!-- PARTNER STEPS !-->
        <div class="partner-steps">
            <div class="res-col columns span-30-31-30">
                <div class="column span-three-left">
                    <div class="step">
                        <div class="number">1</div>
                        <h3 class="hwhite">Create an Account</h3>
                        <img src="{{asset('/images/developers/step-account.png')}}">
                    </div>
                    {{widget('content', 'becomepartnersubstep1', {"content":'<h4>Simple, free signup process</h4><p>Use the <a href="#signup" class="blue">signup form</a> above to become a BaseKit Developer in just a few minutes.'})|raw}}
                </div>
                <div class="column span-three-middle">
                    <div class="step">
                        <div class="number">2</div>
                        <h3 class="hwhite">Install our TDK</h3>
                        <img src="{{asset('/images/step2.png')}}">
                    </div>
                    {{widget('content', 'becomepartnersubstep2', {"content":'<h4>Download the TDK repository</h4><p>Download our TDK from <a href="http://github.com/basekit-templates" class="blue">GitHub</a> to get started, then choose a developer template.</p>'})|raw}}
                </div>
                <div class="column span-three-right">
                    <div class="step">
                        <div class="number">3</div>
                        <h3 class="hwhite">Start Building</h3>
                        <img src="{{asset('/images/developers/step-sublime.png')}}">
                    </div>
                    {{widget('content', 'becomepartnersubstep3', {"content":'<h4>Start developing a template</h4><p>Start building your template using any text editor - then upload it to BaseKit.</p>'})|raw}}
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $(".tab_content").hide();
        $(".tab_content:first").show();

         /* if in tab mode */
        $("ul.tabs li").click(function() {
            
          $(".tab_content").hide();
          var activeTab = $(this).attr("rel"); 
          $("#"+activeTab).fadeIn();        
            
          $("ul.tabs li").removeClass("active");
          $(this).addClass("active");

          $(".tab_drawer_heading").removeClass("d_active");
          $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
          
        });
        /* if in drawer mode */
        $(".tab_drawer_heading").click(function() {
          
          $(".tab_content").hide();
          var d_activeTab = $(this).attr("rel"); 
          $("#"+d_activeTab).fadeIn();
          
          $(".tab_drawer_heading").removeClass("d_active");
          $(this).addClass("d_active");
          
          $("ul.tabs li").removeClass("active");
          $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
        });
    });
</script>

<!-- EDITOR !-->
<section class="editor green">
    <div class="wrapper">
        <h2 class="hwhite holder">Provide clients with an easy-to-use, responsive CMS</h2>
        <!-- TABBED CONTENT !-->
        <div class="tabbed-content">
            <ul class="tabs clearfix">
                <li class="active" rel="tab1">Widgets</li>
                <li rel="tab2">Responsive</li>
                <li rel="tab3">Live Editing</li>
            </ul>
            <div class="tab-container">
                <!-- TAB 1 !-->
                <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
                <div id="tab1" class="tab_content">
                    <h5 class="light-green">You decide exactly how much or how little editing control to give to clients</h5>
                    <div class="green-browser developer">
                        <div class="editor-grc slide-widgets">
                            <div class="controls">
                                <span></span><span></span><span></span>
                            </div>
                            <!-- CALLOUTS !-->
                            <div class="callouts desktop">
                                <div class="hard-code">
                                    <div class="callout dark">
                                        <h4>Hard-coded elements</h4>
                                        <p>In development, you can choose whether to use a widget or hard- code elements onto a page.</p>
                                    </div>
                                </div>
                                <div class="editable">
                                    <div class="callout dark">
                                        <h4>Widgets</h4>
                                        <p>In this example the 'Feature' has been inserted as a widget - allowing the end user to edit its settings.</p>
                                    </div>
                                </div>
                                <div class="zone">
                                    <div class="callout dark">
                                        <h4>Content zone</h4>
                                        <p>A content 'zone' allows the user to drag, drop and delete widgets.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- NUMBERS !-->
                            <div class="numbers tablet">
                                <ul class="tt-wrapper">
                                    <li>
                                        <a class="tt-hard-code">1<span class="dark"><p>In development, you can choose whether to use a widget or hard- code elements onto a page.</p></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tt-editable">2<span class="dark"><p>In this example the 'Feature' has been inserted as a widget - allowing the end user to edit its settings.</p></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tt-zone1">3<span class="dark"><p>A content 'zone' allows the user to drag, drop and delete widgets.</p></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="number-info tablet dev">
                                <h4>Press a number above for more information</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TAB 2 -->
                <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>
                <div id="tab2" class="tab_content">
                    <h5 class="light-green">One size fits all screens and devices</h5>
                    <div class="green-browser developer">
                        <div class="editor-grc slide-responsive">
                            <div class="controls">
                                <span></span><span></span><span></span>
                            </div>
                            <!-- CALLOUTS !-->
                            <div class="callouts desktop">
                                <div class="responsive-views">
                                    <div class="callout dark">
                                        <h4>Responsive Views</h4>
                                        <p>Clients can preview their site across multiple device options.</p>
                                    </div>
                                </div>
                                <!-- <div class="visual-aid">
                                    <div class="callout dark">
                                        <h4>Visual Device Aids</h4>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmo.</p>
                                    </div>
                                </div> -->
                                <!-- <div class="adaptable-content">
                                    <div class="callout dark">
                                        <h4>Adaptable Content</h4>
                                        <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol.</p>
                                    </div>
                                </div> -->
                            </div>
                            <!-- NUMBERS !-->
                            <div class="numbers tablet">
                                <ul class="tt-wrapper">
                                    <li>
                                        <a class="tt-responsive-views">1<span class="dark"><p>Clients can preview their site across multiple device options.</p></span>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a class="tt-visual-aid">2<span class="dark"><p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmo.</p></span>
                                        </a>
                                    </li> -->
                                    <!-- <li>
                                        <a class="tt-adaptable-content">3<span class="dark"><p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol.</p></span>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="number-info tablet dev">
                                <h4>Press a number above for more information</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TAB 3 -->
                <h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>
                <div id="tab3" class="tab_content">
                    <h5 class="light-green">Switch seamlessly between editing and previewing - without switching screens</h5>
                    <div class="green-browser developer">
                        <div class="editor-grc slide-live-editing">
                            <div class="controls">
                                <span></span><span></span><span></span>
                            </div>
                            <!-- CALLOUTS !-->
                            <div class="callouts desktop">
                                <div class="edit-preview">
                                    <div class="callout dark">
                                        <h4>Edit / preview modes</h4>
                                        <p>Edit then preview, then edit some more with just the flick of a switch.</p>
                                    </div>
                                </div>
                                <div class="instant-publishing">
                                    <div class="callout dark">
                                        <h4>Instant Publishing</h4>
                                        <p>Our editor gives your clients the ability to publish a site in 2-clicks.</p>
                                    </div>
                                </div>
                                <div class="live-site-editing">
                                    <div class="callout dark">
                                        <h4>Live Site Editing</h4>
                                        <p>Drag, drop and add widgets from the 'contents' menu without leaving the editor UI.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- NUMBERS !-->
                            <div class="numbers tablet">
                                <ul class="tt-wrapper">
                                    <li>
                                        <a class="tt-edit-preview">1<span class="dark"><p>Edit then preview, then edit some more with just the flick of a switch.</p></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tt-instant-publishing">2<span class="dark"><p>Our editor gives your clients the ability to publish a site in 2-clicks.</p></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="tt-live-site-editing">3<span class="dark"><p>Drag, drop and add widgets from the 'contents' menu without leaving the editor UI.</p></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="number-info tablet dev">
                                <h4>Press a number above for more information</h4>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TABBED CONTENT !-->

    </div>
</section>

<!-- DEVELOPER ROOF !-->
<section class="developer-roof LightGrey">
    <div class="wrapper">
        <hgroup class="section-title">
            <h2 class="h2-36pad text-center">All under one developer roof</h2>
            <h5>A problem shared is a problem halved. But thanks to BaseKit’s online help resources, a problem shared with the community, is a problem solved. Let’s build better. Together.</h5>
        </hgroup>
        <!-- COMMUNITY RESOURCES !-->
        <div class="community-resources LightGrey">
            <div class="res-col columns span-30-31-30">
                <div class="circle-graphics clearfix">
                    <div class="column span-three-left">
                        <img src="{{asset('/images/bk-docs-img.png')}}">
                        <h3 class="line">Documentation</h3><p>Read our <a href="http://developers.basekit.com" class="blue">online documentation</a> and start building your own template.</p>
                    </div>
                    <div class="column span-three-middle">
                        <img src="{{asset('/images/bk-support-img.png')}}">
                        <h3 class="line">Questions &amp; Answers</h3><p>Having trouble with your BaseKit website? Head over to our <a href="https://basekit.zendesk.com/home" class="blue">forum</a> section.</p>
                    </div>
                    <div class="column span-three-right">
                        <img src="{{asset('/images/bk-work-img.png')}}">
                        <h3 class="line">Workshop</h3><p>Prepare yourselves for our all new workshop pages - coming soon.</p>
                    </div>
                </div>
                <div class="divider alt"></div>
                <!--FLEX WITH US !-->
                <div class="flex-col">
                     <div class="component">
                        <h3>Flex with us for free</h3>
                    </div>
                    <div class="component">
                        <p>We believe that flexible and hassle-free accounts allow you guys and gals to get on with what you do best - flexing those creative muscles.</p>
                    </div>
                </div>
                <div class="account-info">
                     <div class="component">
                        <i class="icon publish"></i>
                        <h3>Unlimited Publishing</h3>
                        <p>Publish as many pages as you wish- for free of course.</p>
                    </div>
                    <div class="component">
                        <i class="icon access"></i>
                        <h3>VIP Access</h3>
                        <p>You'll receive first access to all BK features, including widgets.</p>
                    </div>
                     <div class="component">
                        <i class="icon testing"></i>
                        <h3>Beta Testing</h3>
                        <p>Beta-test and develop our new products and services.</p>
                    </div>
                    <div class="component">
                        <i class="icon free"></i>
                        <h3>Free Forever</h3>
                        <p>Only pay when you choose to add a custom domain name.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- GOOD COMPANY !-->
<section class="good-company blue">
    <div class="wrapper">
        <hgroup class="section-title">
            <h2 class="h2-36pad white">You’re in good company</h2>
            <h5 class="white">We’ve got big ideas, big aims and huge ambitions - so if you want to be part of something exciting, get onboard.</h5>
        </hgroup>
        <div class="company-usps account-info">
             <div class="component green">
                <h2 class="white">16 Languages</h2>
                <h5 class="white">The BaseKit editor is available <br>in 16 languages</h5>
            </div>
            <div class="component white">
                <h2>1 Million Sites</h2>
                <h5>Over 1 million BaseKit sites created - and counting</h5>
            </div>
             <div class="component blue">
                <h2 class="white">120 Partners</h2>
                <h5 class="white">Trusted by 120 hosting partners - and counting</h5>
            </div>
        </div>
    </div>
</section>

<!-- PARTNER BAR !-->
<section class="partner-bar developer LightGrey">
    <div class="wrapper">
        <div class="res-col columns span-70-30">
            <div class="column span-70">
                <hgroup>
                    <h3>Signup for a developer account today</h3><h5>Start creating templates using our Template Development Kit</h5>
                </hgroup>
            </div>
            <div class="column span-30">
                <a class="button main-btn green switch">Signup for Free</a>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER !-->
{% include '/includes/dev-footer.twig' %}

{% endblock %}
