{% extends "layout.twig" %}

{% block content %}

<!-- PACMAN FEATURE !-->
<section class="pacman-feature">
    <div class="wrapper">
        <header class="pm-header">
            <div class="res-col columns span-20-80">
                <div class="column span-20">
                    <div class="logo">
                        <a href="/"><img src="{{asset('/images/pacman/logo.png')}}" class="bk-logo"></a>
                    </div>
                </div>
                <div class="column span-80">
                    <nav class="nav-desktop clearfix">
                        <ul>
                            <li><a href="http://developers.basekit.com">Documentation</a></li>
                            <li><a href="http://knowledge.basekit.com">Knowledge</a></li>
                            <li><a href="/developers" class="selected">Developers</a></li>
                            <li><a href="#signup-form" class="button small-btn green">Signup</a></li>
                            <li><a href="/developer-login" class="button small-btn orange">Login</a></li>
                        </ul>
                    </nav>
                    <nav class="nav-mob">
                        <div id="dl-menu" class="dl-menuwrapper">
                            <button class="dl-trigger dl-active">Open Menu</button>
                            <ul class="dl-menu">
                                <li><a href="http://developers.basekit.com">Documentation</a></li>
                                <li><a href="http://knowledge.basekit.com">Knowledge</a></li>
                                <li><a href="/developers" class="selected">Developers</a></li>
                                <li><a href="#signup-form" class="button small-btn green">Signup</a></li>
                                <li><a href="/developer/login" class="button small-btn orange">Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <div class="pacman-bg">
        <div class="wrapper">
            <div class="title">
                <h1>FOWD Pacman Competition!</h1>
            </div>
            <!-- LEADERBOARD !-->
            <div class="leaderboard">
                <div class="section-title">
                    <h4>Leaderboard</h4>
                </div>
                <div class="pm-content">
                    <div class="res-col columns span-50-50">
                        <div class="column span-two-left">
                            <ul>
                                <li class="intro">
                                    <i class="pm-icon"></i>
                                    <p class="p-intro">We’re at the Future of Web Design conference in London this week. If you’re about, come and get your Pac-Man game on at our stand - highest scorer will win an iPad.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column span-two-right">
                            <ul class="podium">
                                <li><i class="gold"></i>{{widget('content', 'podium-gold', {"content":'<h3>@RichardHealy - <span>2400</span></h3>'})|raw}}</li>
                                <li><i class="silver"></i>{{widget('content', 'podium-silver', {"content":'<h3>@SimonBest - <span>1500</span></h3>'})|raw}}</li>
                                <li><i class="bronze"></i>{{widget('content', 'podium-bronze', {"content":'<h3>@DominicHickey - <span>3</span></h3>'})|raw}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TWITTER FEED !-->
            <div class="section-title">
                <h4>Twitter Feed</h4>
            </div>
            <div class="pm-content">
                <div class="twitter-feed">
                    <h2>@BaseKitDevs - #BKHighScore</h2>
                    {{widget('twitter', 'twitter-feed', {'searchKey': 'basekitDevs', 'searchType': 'username'})|raw}}
                </div>
            </div>
            <a href="#signup-form" class="register-interest"><h4>Register Interest</h4></a>
        </div>
    </div>
</section>

<!-- DEVELOPER COMMUNITY - DESKTOP ! -->
<section class="community-resources LightGrey">
    <div class="wrapper">
        {{widget('content', 'developercomminitycontent1', {"content":'<h2 class="h2-36pad text-center">Community Resources</h2>'})|raw}}
        <!-- DEVELOPER COMMUNITY - DESKTOP !-->
        <div class="community-resources LightGrey">
            <div class="res-col columns span-30-31-30">
                <div class="circle-graphics clearfix">
                    <div class="column span-three-left">
                        <img src="{{asset('/images/bk-docs-img.png')}}">
                        {{widget('content', 'community1', {"content":'<h3 class="line">Documentation</h3><p>Read the <a href="http://developers.basekit.com">online documentation</a> and start building your own template.</p>'})|raw}}
                    </div>
                    <div class="column span-three-middle">
                        <img src="{{asset('/images/bk-support-img.png')}}">
                        {{widget('content', 'community2', {"content":'<h3 class="line">Questions &amp; Answers</h3><p>Having trouble with your BaseKit website? Head over to our <a href="https://basekit.zendesk.com/home">Q&amp;A</a> section.</p>'})|raw}}
                    </div>
                    <div class="column span-three-right">
                        <img src="{{asset('/images/bk-work-img.png')}}">
                        {{widget('content', 'community3', {"content":'<h3 class="line">Workshop</h3><p>Get ready for all new workshops, coming soon.</p>'})|raw}}
                    </div>
                </div>
                <div class="feature-highlight text-center clearfix">
                    <h4>Plus <span>free</span> tailored developer accounts</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SIGNUP FORM !-->
<a id="signup-form"></a>
<section class="register-form">
    <div class="wrapper clearfix">
        <div class="res-col columns span-54-46">
            <div class="column span-two-left">
                {{widget('content', 'registerheader', {"content":'<h2 class="h2-36pad">Register your interest</h2>'})|raw}}
                {{widget('content', 'registercontent', {"content":'<p>Interested in our developer community? Sign up today, stay informed and get the latest updates on everything BaseKit.</p>'})|raw}}
            </div>
            <div class="com column span-two-right LightGrey">
                {{widget('buynow', 'bk-signup', {})|raw}}
            </div>
        </div>
    </div>
</section>

<!-- PARTNER BAR !-->
<section class="partner-bar bottom LightGrey">
    <div class="wrapper">
        <!-- BAR - DESKTOP !-->
        <div class="desktop">
            <div class="res-col columns span-12-21x3-27">
                <div class="column span-five-first">
                    {{widget('content', 'partnerbar1content1', {"content":'<h4 class="h4light">Proud to<br> Partner With</h4>'})|raw}}
                </div>
                <div class="column span-five">
                    <img src="{{asset('/images/partner-logos/host-europe.png')}}">
                </div>
                <div class="column span-five">
                    <img src="{{asset('/images/partner-logos/123-reg.png')}}" class="reg-logo">
                </div>
                <div class="column span-five">
                    <img src="{{asset('/images/partner-logos/fasthosts.png')}}" class="enom-logo">
                </div>
                <div class="column span-five-last">
                    <a href="/partners" class="button main-btn green">Become a Partner</a>
                </div>
            </div>
        </div>
        <!-- BAR - TABLET !-->
        <div class="partner-res">
            {{widget('content', 'partnerbar2content1', {"content":'<h3><span class="mobHide">Start your free, <span class="darkspan">no-risk</span>, BaseKit trial!</span><a href="/partners" class="button main-btn green">Become a Partner</a></h3>'})|raw}}
        </div>
    </div>
</section>

<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

{% endblock %}



{% block templatebody %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.widget.buynow .widget-buynow-make-payment').text('Sign Up!');
    });
    </script>
{% endblock %}
