{% extends "layout.twig" %}

{% block content %}

<header>
    <div class="wrapper clearfix">
        <div class="res-col columns span-20-80">
            <div class="column span-20">
                <div class="logo">
                    <a href="/"><img src="{{asset('/images/logo.png')}}" class="bk-logo"></a>
                </div>
            </div>
            <div class="column span-80">
                <nav class="nav-desktop clearfix">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/partners">Partners</a></li>
                        <!-- <li><a href="/tour">Tour</a></li> -->
                        <!-- <li><a href="/about">About</a></li> -->
                        <li>
                            <a class="fade-out">Community<div class="arrow_box"><h4 class="h4white">Coming Soon</h4></div></a>
                        </li>
                        <!-- <li><a href="#" class="button small-btn orange">Login</a></li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- FEATURE !-->
<section class="feature-bg">
    <div class="wrapper">
        <div class="feature">
            <div class="feature-content">
                <div class="feature-text">
                    {{widget('content', 'featuretextcontent1', {"content":'<h1>Beautiful websites<br> for small businesses.</h1><h2 class="h2sub">The world&#39;s fastest growing website editor.</h2>'})|raw}}
                    <ul>
                        <li>{{widget('content', 'featuretextcontent2', {"content":'<h3 class="h3feat"><i class="fa fa-circle-o"></i>Partnered with the world&#39;s <span>largest hosting companies</span></h3>'})|raw}}</li>
                        <li>{{widget('content', 'featuretextcontent3', {"content":'<h3 class="h3feat"><i class="fa fa-circle-o"></i>Our website editor is now available in <span>15 languages</span></h3>'})|raw}}</li>
                    </ul>
                </div>
                <div class="main-cta">
                    <!-- <a href="#" class="button trans-btn trans-grey">Build a Website</a> -->
                    <a href="/partners" class="button trans-btn trans-green">Become a Partner</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PARTNER BAR !-->
<section class="partner-bar LightGrey">
    <div class="wrapper">
        <div class="res-col columns span-20x5">
            <div class="column span-five-first">
                {{widget('content', 'partnerbar1content1', {"content":'<h4 class="h4light">Proud to<br> Partner With</h4>'})|raw}}
            </div>
            <div class="column span-five">
                <img src="{{asset('/images/partner-logos/host-europe.png')}}">
            </div>
            <div class="column span-five">
                <img src="{{asset('/images/partner-logos/123-reg.png')}}" class="reg-logo">
            </div>
            <div class="column span-five">
                <img src="{{asset('/images/partner-logos/fasthosts.png')}}" class="enom-logo">
            </div>
            <div class="column span-five">
                <img src="{{asset('/images/partner-logos/papaki.png')}}" class="papaki-logo">
            </div>
        </div>
    </div>
</section>

<!-- INTRO !-->
<section class="intro">
    <div class="wrapper clearfix">
        {{widget('content', 'introcontent1', {"content":'<h2>Web site creation for the mobile age</h2>'})|raw}}
        <!-- INTRO - 3 BLOCKS !-->
        <div class="res-col columns span-30-31-30">
            <div class="column span-three-left">
                {{widget('content', 'intro3blockscontent1', {"content":'<h4>Responsive Site</h4><p>Every site adapts to the device it is used on so your site will always look great on any size of screen.</p>'})|raw}}
            </div>
            <div class="column span-three-middle">
                {{widget('content', 'intro3blockscontent2', {"content":'<h4>Every Device</h4><p>Responsive CSS3/HTML5 ends the need for clumsy &#39;mobile conversion&#39; tools. Create a site once and it works everywhere.</p>'})|raw}}
            </div>
            <div class="column span-three-right">
                {{widget('content', 'intro3blockscontent3', {"content":'<h4>Web traffic</h4><p>Over 50% of new web traffic is coming from mobile devices so every website should be designed with mobile in mind.</p>'})|raw}}
            </div>
        </div>
        <div class="divider"></div>
        <div class="res-col columns span-50-50">
            <div class="column span-two">
                {{widget('content', 'introsubcontent1', {"content":'<h3>Desktop. Tablet. Mobile. <span>Preview on all devices.</span></h3><p>Use our instant preview mode to view and edit your website on desktop, tablet and mobile screen widths. Easily change and edit the appearance of your site by changing colours, fonts and layouts.</p>'})|raw}}
            </div>
            <div class="column span-two">
                <div class="language-info">
                    {{widget('content', 'introsubcontent2', {"content":'<h3>Available in 15 languages</h3><p>Editor 7 is available in English (British), English (US), Polish, Serbian, German, Spanish, French, Italian, Dutch, Turkish, Portugese (Brazilian), Swedish, Portuguese (Portugal), Russian and Greek.</p>'})|raw}}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TEMPLATE PREVIEWER !-->
<a id="template-preview"></a>
<section class="template-previewer">
    
    <!-- PREVIEW WINDOW !--> 
    <div class="preview-window">

        <div class="js-preview-interface preview-interface">
            <div class="view-toolbar clearfix" role="menu">
                <div class="wrapper">
                    <div class="device-left clearfix">
                        <h4 class="h4white">Select a Device</h4>
                        <ul class="js-view-controls view-controls">
                            <li class="auto-item">
                                <button class="js-device-switch js-auto view-control view-control-auto selected">
                                    <span class="device-icon device-icon-auto"></span>
                                </button>
                            </li>
                            <li class="tablet-item">
                                <button class="js-device-switch js-tablet view-control view-control-tablet">
                                    <span class="device-icon device-icon-tablet"></span>
                                </button>
                            </li>
                            <li class="iphone-item">
                                <button class="js-device-switch js-iphone view-control view-control-iphone">
                                    <span class="device-icon-iphone">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="preview-lang clearfix">
                        <form class="preview-selector-form js-preview-selector preview-selector">
                            <h4 class="h4white">Preview a Template Language</h4>
                            <ul>
                                <li>
                                    <label for="option1"><h4 class="h4circle yellow">EN</h4></label>
                                    <input name="site-url" type="radio" id="option1" value="http://003.basekit.com" class="preview-input">
                                    <span class="preview-option"></span>
                                </li>
                                <li>
                                    <label for="option2"><h4 class="h4circle blue">ES</h4></label>
                                    <input name="site-url" type="radio" id="option2" value="http://001.basekit.com" class="preview-input">
                                    <span class="preview-option"></span>
                                </li>
                                <li>
                                    <label for="option3"><h4 class="h4circle green">DE</h4></label>
                                    <input name="site-url" type="radio" id="option3" value="http://002.basekit.com" class="preview-input">
                                    <span class="preview-option"></span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="js-preview-container preview-container no-transition auto">
                <div class="screen-border">
                    <div class="site-preview screen">
                        <iframe src="http://003.basekit.com" class="js-preview-site"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- TEMPLATE SLIDESHOW !-->
<section class="template-slideshow">
    <div class="wrapper">
        {{widget('content', 'template-slideshowcontent1', {"content":'<h2>Beautiful sites. <span>Professional designs.</span></h2>'})|raw}}
        <!-- INTRO - 3 BLOCKS !-->
        <div class="res-col columns span-30-31-30">
            <div class="column span-three-left">
                {{widget('content', 'template-slideshow3blockscontent1', {"content":'<h4>Professional Templates</h4><p>Our template library includes over 30 fresh new designs created especially for small business customers.</p>'})|raw}}
            </div>
            <div class="column span-three-middle">
                {{widget('content', 'template-slideshow3blockscontent2', {"content":'<h4>Fully Customisable</h4><p>Every template design can be easily customised by changing colours, fonts, backgrounds  and images.</p>'})|raw}}
            </div>
            <div class="column span-three-right">
                {{widget('content', 'template-slideshow3blockscontent3', {"content":'<h4>Change at Any Time</h4><p>Give your site a complete a new look by swapping templates at any time. New templates are added every two weeks. </p>'})|raw}}
            </div>
        </div>

        <!-- SLIDESHOW !-->
        <div class="slideshow-frame">
            <div class="browser-controls"><span></span><span></span><span></span></div>
            {{widget('responsiveslideshow', 'responsiveslideshow', {'duration':'5', 'transSpeed': '1000', 'transType': 'fade', 'showButtons': true, 'showBullets': false, 'allowPause': false, 'allowLoop': false, 'images':[{'url':asset('/images/surfandlove-slide.jpg')},{'url':asset('/images/georgia-slide.jpg')},{'url':asset('/images/smartinc-slide.jpg')}]})|raw}}
        </div>

    </div>
</section>

<!-- DEVELOPER COMMUNITY !-->
<section class="developer-community LightGrey">
    <div class="wrapper">
        {{widget('content', 'developercomminitycontent1', {"content":'<h2 class="h2-36pad">Join our developer community</h2><h5>Learn how to create fully responsive templates using standard HTML/CSS tools. We provide examples, documentation and additional workflow tools including a custom template emulator.</h5>'})|raw}}
        <!-- COMMUNITY INFO !-->
        <div class="developer-info">
            <div class="res-col columns span-50-25-25">
                <div class="column span-three-left">
                    <ul class="signup-steps">
                        <li class="step signup">{{widget('content', 'developercomminitystepscontent1', {"content":'<h4 class="h4dark">1. Signup</h4><p class="psub">Create a business account with BaseKit<br> - free trial available on request.</p>'})|raw}}</li>
                        <li class="step setup">{{widget('content', 'developercomminitystepscontent2', {"content":'<h4 class="h4dark">2. Setup</h4><p class="psub">Read the <a href="http://developer.basekit.com">online documentation</a><br> and start building your own template.</p>'})|raw}}</li>
                        <li class="step spread">{{widget('content', 'developercomminitystepscontent3', {"content":'<h4 class="h4dark">3. Spread the Word</h4><p class="psub">Get discounts and upgrades when you<br> refer other developers.</p>'})|raw}}</li>
                </div>
                <div class="circle-graphics">
                    <div class="column span-three-middle">
                        <img src="{{asset('/images/code-graphic.png')}}">
                        <a href="http://develop.basekit.com" class="button stan-btn green">Join the Community</a>
                        {{widget('content', 'developercommunitycodecontent1', {"content":'<p class="psub">See <a href="/#template-preview">customer templates</a></p>'})|raw}}
                    </div>
                    <div class="column span-three-right">
                        <img src="{{asset('/images/docs-graphic.png')}}">
                        <a href="http://develop.basekit.com" class="button stan-btn orange">Online Documenation</a>
                        {{widget('content', 'developercommunitydocscontent1', {"content":'<p class="psub">Template creation tips</p>'})|raw}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- WEBSITE EDITOR !-->
<section class="website-editor green">
    <div class="wrapper">
        {{widget('content', 'websiteeditorcontent1', {"content":'<h2 class="hwhite" style="text-align: center">A website editor built for speed and simplicity</h2>'})|raw}}
        <img src="{{asset('/images/mac-ui.png')}}" class="mac-ui">
    </div>
</section>

<!-- EDITOR FEATURES !-->
<section class="editor-features">
    <div class="wrapper">
        {{widget('content', 'websiteeditorcontent1', {"content":'<h3 class="h3upsize" style="text-align: center">Site editor features</h3>'})|raw}}
        <!-- FEATURE LIST !-->
        <div class="feature-list">
            <div class="res-col columns span-30-31-30">
                <div class="column span-three-left">
                    <article>
                        {{widget('content', 'featurelistcolumn1content1', {"content":'<h4>SEO</h4><p class="psub">Every site has everything you need to get found on Google and other search engines.</p>'})|raw}}
                    </article>
                    <article>
                        {{widget('content', 'featurelistcolumn1content2', {"content":'<h4>Facebook Publishing</h4><p class="psub">Publish your site to your Facebook page and bring a social dimension to your business website.</p>'})|raw}}
                    </article>
                    <article>
                        {{widget('content', 'featurelistcolumn1content3', {"content":'<h4>Drop Down Menus</h4><p class="psub">Built-in drop down menus take care of navigation for any size of site on any kind of device.</p>'})|raw}}
                    </article>
                </div>
                <div class="column span-three-middle">
                    <article>
                        {{widget('content', 'featurelistcolumn2content1', {"content":'<h4>Location Maps</h4><p class="psub">Make it easy for people to find your shop or business by showing them your location on map.</p>'})|raw}}
                    </article>
                    <article>
                        {{widget('content', 'featurelistcolumn2content2', {"content":'<h4>Contact Forms</h4><p class="psub">Our instant-setup forms make it easy for customers to get in touch. Form data arrives in your email.</p>'})|raw}}
                    </article>
                    <article>
                        {{widget('content', 'featurelistcolumn2content3', {"content":'<h4>Image Galleries</h4><p class="psub">If you&#39;ve got lots of images use the built-in Gallery widget to show them at their best.</p>'})|raw}}
                    </article>
                </div>
                <div class="column span-three-right">
                    <article>
                        {{widget('content', 'featurelistcolumn3content1', {"content":'<h4>PayPal Button</h4><p class="psub">You can be ready to sell your first items online in just a few minutes with rapid setup PayPal button.</p>'})|raw}}
                    </article>
                    <article>
                        {{widget('content', 'featurelistcolumn3content2', {"content":'<h4>Image Editing</h4><p class="psub">Change the size, look and framing of any image. Use custom styles to make your images stand out.</p>'})|raw}}
                    </article>
                    <article>
                        {{widget('content', 'featurelistcolumn3content3', {"content":'<h4>Image Slideshow</h4><p class="psub">Create a slideshow (or slider) with ease by simply selecting your images and choosing the timing.</p>'})|raw}}
                    </article>
                </div>
        </div>
    </div>
</section>

<!-- PARTNER BAR !-->
<section class="partner-bar LightGrey">
    <div class="wrapper">
        <div class="res-col columns span-12-21x3-27">
            <div class="column span-five-first">
                {{widget('content', 'partnerbar1content1', {"content":'<h4 class="h4light">Proud to<br> Partner With</h4>'})|raw}}
            </div>
            <div class="column span-five">
                <img src="{{asset('/images/partner-logos/host-europe.png')}}">
            </div>
            <div class="column span-five">
                <img src="{{asset('/images/partner-logos/123-reg.png')}}" class="reg-logo">
            </div>
            <div class="column span-five">
                <img src="{{asset('/images/partner-logos/fasthosts.png')}}" class="enom-logo">
            </div>
            <div class="column span-five-last">
                <a href="/partners" class="button main-btn green">Become a Partner</a>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER !-->
<footer>
    <div class="wrapper">
        <div class="res-col columns span-25x4">
            <div class="column span-four">
                {{widget('content', 'footercolumn1content1', {"content":'<h4 class="h4white upsize">BaseKit Platform</h3>'})|raw}}
                <ul class="footer-menu">
                    <li>{{widget('content', 'footercolumn1content2', {"content":'<p><a href="/">Home</a></p>'})|raw}}</li>
                    <li>{{widget('content', 'footercolumn1content3', {"content":'<p><a href="/partners">Partners</a></p>'})|raw}}</li>
                    <!-- <li>{{widget('content', 'footercolumn1content3', {"content":'<p><a href="#">Tour</a></p>'})|raw}}</li> -->
                    <!-- <li>{{widget('content', 'footercolumn1content4', {"content":'<p><a href="#">About</a></p>'})|raw}}</li> -->
                    <li>
                        <a class="fade-out">Community<div class="arrow_box"><h4 class="h4white">Coming Soon</h4></div></a>
                    </li>
                </ul>
            </div>
            <div class="column span-four">
                {{widget('content', 'footercolumn2content1', {"content":'<h4 class="h4white upsize">Company</h3>'})|raw}}
                <ul class="footer-menu">
                    <li>{{widget('content', 'footercolumn2content2', {"content":'<p><a href="http://www.basekit.com/terms-and-conditions">Terms &amp; Conditions</a></p>'})|raw}}</li>
                    <!-- <li>{{widget('content', 'footercolumn2content3', {"content":'<p><a href="#">Jobs</a></p>'})|raw}}</li> -->
                    <li>{{widget('content', 'footercolumn2content4', {"content":'<p><a href="/partners">Contact</a></p>'})|raw}}</li>
                    <li>{{widget('content', 'footercolumn2content5', {"content":'<p><a href="https://basekit.zendesk.com">Support</a></p>'})|raw}}</li>
                </ul>
            </div>
            <div class="column span-four">
                {{widget('content', 'footercolumn3content1', {"content":'<h4 class="h4white upsize">Developers</h3>'})|raw}}
                <ul class="footer-menu">
                    <li>{{widget('content', 'footercolumn3content2', {"content":'<p><a href="http://develop.basekit.com">Documentation<i class="fa fa-external-link"></i></a></p>'})|raw}}</li>
                    <li>{{widget('content', 'footercolumn3content3', {"content":'<p><a href="http://develop.basekit.com">Join the Community</a></p>'})|raw}}</li>
                </ul>
            </div>
            <div class="column span-four">
                {{widget('content', 'footercolumn4content1', {"content":'<h4 class="h4white upsize">Social</h3>'})|raw}}
                <ul class="footer-menu half">
                    <li>{{widget('content', 'footercolumn4content2', {"content":'<p><a href="https://www.facebook.com/TeamBaseKit">Facebook</a></p>'})|raw}}</li>
                    <li>{{widget('content', 'footercolumn4content3', {"content":'<p><a href="https://twitter.com/basekit">Twitter</a></p>'})|raw}}</li>
                </ul>
                <ul class="footer-menu half">
                    <li>{{widget('content', 'footercolumn4content4', {"content":'<p><a href="http://www.youtube.com/user/TeamBaseKit">YouTube</a></p>'})|raw}}</li>
                    <li>{{widget('content', 'footercolumn4content5', {"content":'<p><a href="https://plus.google.com/108742094467162026595/posts">Google+</a></p>'})|raw}}</li>
                </ul>
            </div>
        </div>
        <div class="footer2 clearfix">
            <div class="left">
                <p>Copyright &copy; BaseKit Platform {{ "now"|date("Y") }}. All Rights Reserved.</p>
            </div>
            <div class="right">
                <p>VAT Registration Number 339 0727 47 | Company Number 06669087</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
