{% extends "layout.twig" %}

{% block content %}

<header>
    <div class="wrapper clearfix">
        <div class="res-col columns span-20-80">
            <div class="column span-20">
                <div class="logo">
                    <a href="/"><img src="{{asset('/images/logo.png')}}" class="bk-logo"></a>
                </div>
            </div>
            <div class="column span-80">
                <nav class="nav-desktop clearfix">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/partners">Partners</a></li>
                        <li>
                            <a class="fade-out">Community<div class="arrow_box"><h4 class="h4white">Coming Soon</h4></div></a>
                        </li>
                    </ul>
                </nav>
                <nav class="nav-mob">
                    <div id="dl-menu" class="dl-menuwrapper">
                        <button class="dl-trigger dl-active">Open Menu</button>
                        <ul class="dl-menu">
                           <li><a href="/">Home</a></li>
                            <li><a href="/partners">Partners</a></li>
                            <li>
                                <a class="fade-out">Community<div class="arrow_box"><h4 class="h4white">Coming Soon</h4></div></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- SUB NAV BAR !-->
<a id="#partner-signup"></a>

<section class="partners-subnav">
    <div class="wrapper">
        <div class="res-col columns span-20-80">
            <div class="column span-20">
                {{widget('content', 'partners-subnavcontent1', {"content":'<h2 class="hwhite">Partners</h2>'})|raw}}
            </div>
            <div class="column span-80">
                <ul class="clearfix">
                    <li class="selected">{{widget('content', 'partners-subnavcontent1', {"content":'<h5><a href="#partner-signup"><i class="fa fa-keyboard-o"></i>Partner Signup</a></h5>'})|raw}}</li>
                    <li>{{widget('content', 'partners-subnavcontent2', {"content":'<h5><a href="#why-basekit"><i class="fa fa-question"></i>Why BaseKit</a></h5>'})|raw}}</li>
                    <li>{{widget('content', 'partners-subnavcontent3', {"content":'<h5><a href="#get-started"><i class="fa fa-power-off"></i>Get Started</a></h5>'})|raw}}</li>
                    <li>{{widget('content', 'partners-subnavcontent4', {"content":'<h5><a href="#testimonials"><i class="fa fa-comments-o"></i>Testimonials</a></h5>'})|raw}}</li>
            </div>
        </div>
    </div>
</section>


<!-- PARTNER LIST !-->
<section class="signup-form">
    <div class="wrapper">
        <div class="partner-title">
            <div class="res-col columns span-30-70">
                <div class="column span-30">
                    {{widget('content', 'partnerlist-title', {"content":'<h3 class="hwhite upsize">Choose a Hosting Partner</h3>'})|raw}}
                </div>
                <div class="column span-70">
                    <ul class="points">
                        <li>{{widget('content', 'partnerlist-point1', {"content":'<h4 class="h4white upsize2">EASY TO DEPLOY</h4>'})|raw}}</li>
                        <li><i class="fa fa-circle"></i></li>
                        <li>{{widget('content', 'partnerlist-point2', {"content":'<h4 class="h4white upsize2">NO UP-FRONT COST</h4>'})|raw}}</li>
                        <li><i class="fa fa-circle"></i></li>
                        <li>{{widget('content', 'partnerlist-point3', {"content":'<h4 class="h4white upsize2">HIGH ARPU</h4>'})|raw}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- PARTNER LIST CONTAINER !-->
        <div class="standout-container">
            <div class="res-col columns span-70-30">
                <div class="column span-70">
                    <div class="left-content partnerlist">
                        <div class="partnerlist-intro">
                            {{widget('content', 'partnerlistcontent1', {"content":'<h5 class="h5dark">Create an account with a partner</h5><p>BaseKit is a leading web platform providing partners with easy-to-use, innovative solutions. We believe in a transparent market without unnecessary inefficiencies in the supply chain. Given BaseKit&#39;s position, we don&#39;t sell directly to end-clients. Instead, our success comes from strong relationships with our partners.</p>'})|raw}}
                        </div>

                        <!-- PARTNER TABLE !-->
                        <div class="partner-table clearfix">
                            <div class="col1">
                                <div class="thead">
                                    <h4 class="h4dark">BaseKit Partner</h4>
                                </div>
                                <!-- SITEJAM !-->
                                <div class="trow">
                                    <div class="tinner">
                                        <div class="tinner1">
                                            <img src="{{asset('/images/partner-logos/partnerlist/sitejam-logo.png')}}">
                                            <div class="mobShow">
                                                <a href="http://www.sitejam.com" class="color sj">http://www.sitejam.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 123 REG !-->
                                <div class="trow">
                                    <div class="tinner">
                                        <div class="tinner1">
                                            <img src="{{asset('/images/partner-logos/partnerlist/123-reg.png')}}">
                                            <div class="mobShow">
                                                <a href="https://www.123-reg.co.uk/website-builder" class="color 123reg">http://www.123-reg.co.uk/website-builder</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="thead">
                                    <h4 class="h4dark">Partner Website</h4>
                                </div>
                                <!-- SITEJAM !-->
                                <div class="trow">
                                    <div class="tinner">
                                        <div class="tinner1">
                                            <a href="http://www.sitejam.com" class="color sj">http://www.sitejam.com</a>
                                        </div>
                                    </div>
                                </div>
                                 <!-- 123 REG !-->
                                <div class="trow">
                                    <div class="tinner">
                                        <div class="tinner1">
                                            <a href="https://www.123-reg.co.uk/website-builder" class="color 123reg">http://www.123-reg.co.uk/website-builder</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column span-30">
                    <div class="right-content">
                        {{widget('content', 'partnerlistcontent1', {"content":'<h5 class="h5dark">You&#39;re in good company</h5><p class="psub14">More than 900 companies in over 20 countries already rely on BaseKit:</p>'})|raw}}
                        <img src="{{asset('/images/partner-logos/logos4-sml.png')}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="under-blocks">
    <div class="wrapper">
        <!-- INFO BLOCKS !-->
        <div class="info-blocks">
            <div class="res-col columns span-30-31-30">
                <div class="column span-three-left">
                    {{widget('content', 'whybasekit-3block1', {"content":'<i class="fa fa-bullseye"></i><h4>Low Churn, High Value</h4><p>Your customer&#39;s sites can grow at any time so they won&#39;t cancel when they need more features.</p>'})|raw}}
                </div>
                <div class="column span-three-middle">
                    {{widget('content', 'whybasekit-3block2', {"content":'<i class="fa fa-signal"></i><h4>Increased Revenue</h4><p>Build sustainable revenue by offering your customers free access to a website builder that has everything they need.</p>'})|raw}}
                </div>
                <div class="column span-three-right">
                    {{widget('content', 'whybasekit-3block3', {"content":'<i class="fa fa-magic"></i><h4>Easy, Fast Deployment</h4><p>Within an hour you could have Basekit integrated putting you ahead of your competitors.</p>'})|raw}}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PARTNER BAR !-->
<section class="partner-bar bottom LightGrey">
    <div class="wrapper">
        <!-- BAR - DESKTOP !-->
        <div class="desktop">
            <div class="res-col columns span-12-21x3-27">
                <div class="column span-five-first">
                    {{widget('content', 'partnerbar1content1', {"content":'<h4 class="h4light">Proud to<br> Partner With</h4>'})|raw}}
                </div>
                <div class="column span-five">
                    <img src="{{asset('/images/partner-logos/host-europe.png')}}">
                </div>
                <div class="column span-five">
                    <img src="{{asset('/images/partner-logos/123-reg.png')}}" class="reg-logo">
                </div>
                <div class="column span-five">
                    <img src="{{asset('/images/partner-logos/fasthosts.png')}}" class="enom-logo">
                </div>
                <div class="column span-five-last">
                    <a href="/partners" class="button main-btn green">Become a Partner</a>
                </div>
            </div>
        </div>
        <!-- BAR - TABLET !-->
        <div class="partner-res">
            {{widget('content', 'partnerbar2content1', {"content":'<h3><span class="mobHide">Start your free, <span class="darkspan">no-risk</span>, BaseKit trial!</span><a href="/partners" class="button main-btn green">Become a Partner</a></h3>'})|raw}}
        </div>
    </div>
</section>

<!-- FOOTER !-->
<footer>
    <div class="wrapper">
        <div class="res-col columns span-25x4">
            <div class="column span-four">
                <h4 class="h4white upsize">BaseKit <span class="tabHide">Platform</span></h3>
                <ul class="footer-menu">
                    <li><p><a href="/">Home</a></p></li>
                    <li><p><a href="/partners">Partners</a></p></li>
                    <!-- <li>{{widget('content', 'footercolumn1content3', {"content":'<p><a href="#">Tour</a></p>'})|raw}}</li> -->
                    <!-- <li>{{widget('content', 'footercolumn1content4', {"content":'<p><a href="#">About</a></p>'})|raw}}</li> -->
                    <li class="tabHide">
                        <a class="fade-out">Community<div class="arrow_box"><h4 class="h4white">Coming Soon</h4></div></a>
                    </li>
                </ul>
            </div>
            <div class="column span-four">
                <h4 class="h4white upsize">Company</h4>
                <ul class="footer-menu">
                    <li><p><a href="/terms-and-conditions" class="desktop">Terms &amp; Conditions</a><a href="/terms-and-conditions" class="tablet">T's &amp; C's</a></p></li>
                    <!-- <li><p><a href="#">Jobs</a></p></li> -->
                    <li><p><a href="/partners">Contact</a></p></li>
                    <li><p><a href="https://basekit.zendesk.com">Support</a></p></li>
                </ul>
            </div>
            <div class="column span-four">
                <h4 class="h4white upsize">Developers</h4>
                <ul class="footer-menu">
                    <li><p><a href="http://basekit-templates.github.io/template-docs/" class="desktop">Documentation<i class="fa fa-external-link"></i></a><a href="http://basekit-templates.github.io/template-docs/" class="tablet">Docs<i class="fa fa-external-link"></i></a></p></li>
                    <li><p><a href="http://basekit-templates.github.io/template-docs/"><span class="tabHide">Join the </span>Community</a></p></li>
                </ul>
            </div>
            <div class="column span-four">
                <h4 class="h4white upsize">Social</h4>
                <ul class="footer-menu half">
                    <li><p><a href="https://www.facebook.com/TeamBaseKit">Facebook</a></p></li>
                    <li><p><a href="https://twitter.com/basekit">Twitter</a></p></li>
                </ul>
                <ul class="footer-menu half">
                    <li><p><a href="http://www.youtube.com/user/TeamBaseKit">YouTube</a></p></li>
                    <li><p><a href="https://plus.google.com/108742094467162026595/posts">Google+</a></p></li>
                </ul>
            </div>
        </div>
        <div class="footer2 clearfix">
            <div class="left">
                <p><span class="mobHide">Copyright</span>&copy; BaseKit Platform {{ "now"|date("Y") }}. All Rights Reserved.</p>
            </div>
            <div class="right">
                <p class="desktop">VAT Registration Number 339 0727 47 | Company Number 06669087</p>
                <p class="tablet mobHide">VAT No. 339 0727 47&nbsp;|&nbsp;Company No. 06669087</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
