{% extends "layout.twig" %}

{% block content %}

<!-- HEADER !-->
<header>
    <div class="wrapper clearfix">
        <div class="res-col columns span-20-80">
            <div class="column span-20">
                <div class="logo">
                    <a href="/"><img src="{{asset('/images/logo.png')}}" class="bk-logo"></a>
                </div>
            </div>
            <div class="column span-80">
                <nav class="nav">
                    <a href="#" class="menu-icon"></a>
                    <ul>
                        <li class="selected"><a href="/tour">Tour</a></li>
                        <li><a href="/partners">Partners</a></li>
                        <li><a href="/developers">Developers</a></li>
                        <li ><a href="/blog">Blog</a></li>
                        <li><a href="http://partners.basekit.com" class="button small-btn orange">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<section class="tour-page">

    <!-- SUB NAV BAR !-->
    <a id="#partner-signup"></a>
    <section class="partners-subnav">
        <div class="wrapper">
            <div class="res-col columns span-20-80">
                <div class="column span-20">
                    <h2 class="hwhite">Tour</h2>
                </div>
                <div class="column span-80">
                    <ul class="clearfix">
                        <li><h5><a href="#the-editor"><span class="icon ic-browser"></span>The Editor</a></h5></li>
                        <li><h5><a href="#templates"><span class="icon ic-templates"></span>Templates</a></h5></li>
                        <li><h5><a href="#image-editor"><span class="icon ic-brush"></span>Image Editor</a></h5></li>
                        <li><h5><a href="#stock-images"><span class="icon ic-stock"></span>Stock Images</a></h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- EDITOR !-->
    <a id="the-editor"></a>
    <section class="editor green">
        <div class="wrapper">
            <h2 class="hwhite">A website editor built for speed and simplicity</h2>
            <div class="green-browser">
                <div class="editor-grc">
                    <div class="controls">
                        <span></span><span></span><span></span>
                    </div>
                    <!-- CALLOUTS !-->
                    <div class="callouts desktop">
                        <div class="publish">
                            <div class="callout">
                                <h4>Publish</h4>
                                <p>Publish your site with just two clicks - <br>no extra steps to publish a mobile site.</p>
                            </div>
                        </div>
                        <div class="widgets">
                            <div class="callout widgets">
                                <h4>Widgets</h4>
                                <p>Add text, images, forms, maps, videos and social content to any page.</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="callout content">
                                <h4>Content</h4>
                                <p>Drag and drop widgets onto any page to customise the content and layout.</p>
                            </div>
                        </div>
                    </div>
                    <!-- NUMBERS !-->
                    <div class="numbers tablet">
                        <ul class="tt-wrapper">
                            <li>
                                <a class="tt-publish">1<span><p>Publish your site with just two clicks - no extra steps to publish a mobile site.</p></span>
                                </a>
                            </li>
                            <li>
                                <a class="tt-widgets">2<span><p>Add text, images, forms, maps, videos and social content to any page.</p></span>
                                </a>
                            </li>
                            <li>
                                <a class="tt-zone">3<span><p>Drag and drop widgets onto any page to customise the content and layout.</p></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="number-info tablet">
                        <h4>Press a number above for more information</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TEMPLATES !-->
    <a id="templates"></a>
    <section class="templates LightGrey">
        <div class="wrapper">
            <div class="hide-show-features mobile">
                <h4 id="hide-editor" class="hide-show">View editor features</h4>
                <div id="close" style="display:none">
                    <ol class="mobile-numbers">
                        <li class="publish">
                            <div class="callout">
                                <p><span>1.</span> <b>Publish</b> your site with just two clicks - no extra steps to publish a mobile site.</p>
                            </div>
                        </li>
                        <li class="widgets">
                            <div class="callout widgets">
                                <p><span>2.</span> <b>Add widgets</b> - text, images, forms, maps, videos and social content to any page.</p>
                            </div>
                        </li>
                        <li class="content">
                            <div class="callout content">
                                <p><span>3.</span> <b>Drag and drop</b> widgets onto any page to customise the content and layout.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <hgroup>
                <h2 class="h2-36pad">Created by professional designers</h2>
                <h5>Every design reflects the current state-of-the-art in modern, responsive web design. New designs are added frequently and you can change your design as often as you like.</h5>
            </hgroup>
            <!-- TEMPLATE THUMBS !-->
            <ul>
                <li>
                    <div class="browser-bar">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="browser-content">
                        <img src="{{asset('/images/templates/sofia.jpg')}}">
                    </div>
                </li>
                <li>
                    <div class="browser-bar">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="browser-content">
                        <img src="{{asset('/images/templates/surf.jpg')}}">
                    </div>
                </li>
                <li>
                    <div class="browser-bar">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="browser-content">
                        <img src="{{asset('/images/templates/langkawi.jpg')}}">
                    </div>
                </li>
                <li>
                    <div class="browser-bar">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="browser-content">
                        <img src="{{asset('/images/templates/tukana.jpg')}}">
                    </div>
                </li>
            </ul>
            <!-- MORE TEMPLATES !-->
            <div class="more-templates">
                <a id="setup" class="button trans-btn trans-light">View More Designs</a>
            </div>
            <div id="closeable" style="display:none">
                <!-- TEMPLATE THUMBS !-->
                <ul>
                    <li>
                        <div class="browser-bar">
                            <span></span><span></span><span></span>
                        </div>
                        <div class="browser-content">
                            <img src="{{asset('/images/templates/beta-studio.jpg')}}">
                        </div>
                    </li>
                    <li>
                        <div class="browser-bar">
                            <span></span><span></span><span></span>
                        </div>
                        <div class="browser-content">
                            <img src="{{asset('/images/templates/proskip.jpg')}}">
                        </div>
                    </li>
                    <li>
                        <div class="browser-bar">
                            <span></span><span></span><span></span>
                        </div>
                        <div class="browser-content">
                            <img src="{{asset('/images/templates/sycamore.jpg')}}">
                        </div>
                    </li>
                    <li>
                        <div class="browser-bar">
                            <span></span><span></span><span></span>
                        </div>
                        <div class="browser-content">
                            <img src="{{asset('/images/templates/georgia.jpg')}}">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- SIMPLE FEATURES !-->
    <section class="simple-features">
        <div class="wrapper">
            <hgroup>
                <h2 class="h2-36pad">Simple to learn, easy to use</h2>
                <h5>Every aspect of website creation and management is integrated into a single, simple to learn web app that is free of the complexity of older more complicated systems.</h5>
            </hgroup>
            <!-- 3 BLOCKS !-->
            <div class="feature-imgs">
                <div class="res-col columns span-30-31-30">
                    <div class="column span-three-left">
                        <img src="{{asset('/images/simple-features/feature-1.svg')}}" style="margin-left: -10px">
                        {{widget('content', 'simplefeaturescontent1', {"content":'<h4>Place text and images</h4><p>Drag and drop content into the page body to make each page unique.</p>'})|raw}}
                    </div>
                    <div class="column span-three-middle">
                        <img src="{{asset('/images/simple-features/feature-2.svg')}}">
                        {{widget('content', 'simplefeaturescontent2', {"content":'<h4>Be better connected</h4><p>Your site will always be well connected with easy social media integrations.</p>'})|raw}}
                    </div>
                    <div class="column span-three-right">
                        <img src="{{asset('/images/simple-features/feature-3.svg')}}">
                        {{widget('content', 'simplefeaturescontent3', {"content":'<h4>Twitter integration</h4><p>Add a feed to any page and share your tweets with every visitor.</p>'})|raw}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- IMAGE EDITOR !-->
    <a id="image-editor"></a>
    <section class="image-editor">
        <div class="wrapper">
            <hgroup>
                <h2 class="h2-36pad">Powerful image editor included</h2>
                <h5>Enhance your images without having to buy additional software. Crop, resize or add special effects to any image without leaving your web browser.</h5>
            </hgroup>
            <img src="{{asset('/images/image-editor.png')}}">
        </div>
    </section>

    <!-- STOCK IMAGES !-->
    <a id="stock-images"></a>
    <section class="stock-images">
        <div class="wrapper">
            <hgroup>
                <h2 class="h2-36pad">Choose from millions of top quality images</h2>
                <h5>Our paid packages include free images from the world's leading provider of professional imagery. Additional images can be purchased at minimal cost.</h5>
            </hgroup>
            <div class="stock-col">
                <article>
                    <div class="browser-bar">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="browser-content">
                        <img src="{{asset('/images/stock-images.png')}}">
                    </div>
                </article>
                <article>
                    <h4>Easy to search</h4>
                    <p class="p-spc">Type one or more words and you'll find a wide selection of images to choose from. Add any image to your site with just two clicks.</p>
                    <h4>Huge Stock Library</h4>
                    <p>Image categories include:</p>
                    <ul class="stock-list">
                        <li><p>Landscapes</p></li>
                        <li><p>Arts &amp; Crafts</p></li>
                        <li><p>Travel</p></li>
                        <li><p>Illustrations (Vectors)</p></li>
                        <li><p>Vehicles</p></li>
                        <li><p>Portrait Photography</p></li>
                    </ul>
                </article>
            </div>
        </div>
    </section>

</section>
<!-- END TOUR PAGE !-->

<!-- PARTNER BAR !-->
{% include '/includes/partner-bar.twig' %}
        
<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

{% endblock %}



